/*
Font: 		Halcom
Style: 		Book
URL: 		https://www.youworkforthem.com/font/T5781/halcom
Foundry: 	The Northern Block
Foundry: 	https://www.youworkforthem.com/designer/94/the-northern-block
Copyright:	Copyright © 2015 by Jonathan Hill. All rights reserved.
Version: 	17
Created:	July 08, 2015
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Halcom-Book';
	src: url('halcom-book.eot');
	src: url('halcom-book.eot?#iefix') format('embedded-opentype'),
             url('halcom-book.woff2') format('woff2'),
	     url('halcom-book.woff') format('woff'),
	     url('halcom-book.ttf') format('truetype'),
	     url('halcom-book.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
